.detalhes-container {
  max-width: 1100px;
  margin: 4rem auto;
  padding: 0 2rem;
  min-height: 60vh;
}

.detalhes-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: start;
}

.img-area-detalhe {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #333;
}

.img-area-detalhe img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
}


.categoria-tag {
  background-color: var(--vermelho-china);
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.info-area-detalhe h1 {
  font-size: 2.8rem;
  color: #fff;
  margin: 1rem 0 0.5rem 0;
  line-height: 1.1;
}

.preco-detalhe {
  font-size: 2.2rem;
  color: var(--dourado-luxo);
  margin-bottom: 2rem;
}

.descricao-texto {
  color: #ccc;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 3rem;
  border-top: 1px solid #333;
  padding-top: 1rem;
}

.btn-adicionar-carrinho {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--vermelho-china);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 800;
  padding: 20px;
  border-radius: 8px;
  font-size: 1.2rem;
  transition: 0.3s;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.btn-adicionar-carrinho:hover {
  filter: brightness(1.1);
  transform: scale(1.02);
  box-shadow: 0 0 20px rgba(220, 20, 60, 0.4);
}

.aviso-seguranca {
  text-align: center;
  color: #666;
  font-size: 0.9rem;
  margin-top: 10px;
}

/* celular */
@media (max-width: 768px) {
  .detalhes-grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .info-area-detalhe h1 {
    font-size: 2rem;
  }
}