.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: var(--cinza-escuro);
  border-bottom: 2px solid var(--vermelho-china);
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-logo a {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.text-red {
  color: var(--vermelho-china);
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.navbar-links a {
  font-size: 1.1rem;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: var(--dourado-luxo);
}

.navbar-icons {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.icon {
  font-size: 1.2rem;
  transition: transform 0.2s;
}

.icon:hover {
  transform: scale(1.1);
  color: var(--vermelho-china);
}

.cart-icon {
  position: relative;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: var(--vermelho-china);
  color: white;
  font-size: 0.7rem;
  padding: 2px 6px;
  border-radius: 50%;
  font-weight: bold;
}

.logo-buys {
  color: var(--vermelho-china);
  font-weight: 800;
}

/* responsividade em celular*/
@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    padding: 1rem;
    gap: 10px;
  }

  .navbar-logo {
    order: 1;
    flex: 1;
  }

  .navbar-logo a {
    font-size: 1.4rem;
  }

  .navbar-cart {
    order: 2;
  }

  .navbar-links {
    order: 3;
    width: 100%;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    border-top: 1px solid #333;
  }

  .navbar-links a {
    font-size: 0.9rem;
    white-space: nowrap;
  }
}