.produto-card {
  background-color: var(--cinza-escuro);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s, border-color 0.3s;
  border: 1px solid #333;
  
  max-width: 280px; 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.produto-card:hover {
  transform: translateY(-5px);
  border-color: var(--vermelho-china);
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.produto-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.produto-info {
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.produto-info h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: var(--branco-texto);
  line-height: 1.4;
  height: 2.8em;
  overflow: hidden;
}

.produto-preco {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--dourado-luxo);
  margin: 0.5rem 0 1rem 0;
}

.btn-detalhes {
  display: block;
  width: 100%;
  padding: 0.6rem;
  border: 1px solid var(--branco-texto);
  color: var(--branco-texto);
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  transition: 0.3s;
}

.btn-detalhes:hover {
  background-color: var(--vermelho-china);
  border-color: var(--vermelho-china);
}