.produto-card {
  background-color: var(--cinza-escuro);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s, border-color 0.3s;
  border: 1px solid #333;
  max-width: 300px; 
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%; 
}

.produto-card:hover {
  transform: translateY(-5px);
  border-color: var(--vermelho-china);
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.img-container {
  width: 100%;
  height: 220px;
  display: flex;
  overflow: hidden;
  border-bottom: 1px solid #333;
}

.produto-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}


.produto-info {
  padding: 1rem;
  text-align: center;
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.produto-info h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: var(--branco-texto);
  line-height: 1.4;
  display: -webkit-box;
  -line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 2.8em; 
}

.produto-preco {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--dourado-luxo);
  margin: 0.5rem 0 1rem 0;
}

.btn-detalhes {
  display: block;
  width: 100%;
  padding: 0.8rem;
  border: 1px solid var(--branco-texto);
  color: var(--branco-texto);
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.3s;
  text-decoration: none; 
}

.btn-detalhes:hover {
  background-color: var(--vermelho-china);
  border-color: var(--vermelho-china);
}